<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav') %>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Debitis, praesentium animi nihil asperiores dicta magnam quia! Fugit ratione maxime illum 
        harum nisi eligendi! Illo dolore at necessitatibus delectus quasi obcaecati?</p>
</body>
</html>